*.class

util/xcolab-commons/target/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

#Gradle temporary files
target/

#Eclipse files
**/.project
**/.classpath
**/.settings/
blog/bin/
**/.tern-project

#IntelliJ files
**/*.iml
**/.idea
**/.gradle


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
madridColab/.idea/vcs.xml
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/AbstractAttribute.class
madridColab/.idea/vcs.xml
madridColab/.idea/vcs.xml
madridColab/.idea/workspace.xml
*.jar
madridColab/util/entity-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
madridColab/util/entity-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
madridColab/util/entity-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
madridColab/util/entity-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
madridColab/util/entity-utils/target/surefire-reports/org.xcolab.entity.utils.LinkUtilsTest.txt
madridColab/util/entity-utils/target/surefire-reports/TEST-org.xcolab.entity.utils.LinkUtilsTest.xml
madridColab/util/service-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
madridColab/util/service-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
madridColab/util/service-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
madridColab/util/service-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
madridColab/util/service-utils/target/surefire-reports/org.xcolab.service.utils.db.jooq.fulltext.FulltextConditionTest.txt
madridColab/util/service-utils/target/surefire-reports/org.xcolab.service.utils.db.jooq.generator.XColabGeneratorStrategyTest.txt
madridColab/util/service-utils/target/surefire-reports/TEST-org.xcolab.service.utils.db.jooq.fulltext.FulltextConditionTest.xml
madridColab/util/service-utils/target/surefire-reports/TEST-org.xcolab.service.utils.db.jooq.generator.XColabGeneratorStrategyTest.xml
*.jar
madridColab/.idea/vcs.xml
madridColab/.idea/workspace.xml
madridColab/conf/.xcolab.application.properties
madridColab/util/entity-utils/target/entity-utils-1.0-SNAPSHOT.jar
madridColab/util/entity-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
madridColab/util/entity-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
madridColab/util/entity-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
madridColab/util/entity-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
madridColab/util/entity-utils/target/surefire-reports/org.xcolab.entity.utils.LinkUtilsTest.txt
madridColab/util/entity-utils/target/surefire-reports/TEST-org.xcolab.entity.utils.LinkUtilsTest.xml
madridColab/util/service-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
madridColab/util/service-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
madridColab/util/service-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
madridColab/util/service-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
madridColab/util/service-utils/target/service-utils-1.0-SNAPSHOT.jar
madridColab/util/service-utils/target/surefire-reports/org.xcolab.service.utils.db.jooq.fulltext.FulltextConditionTest.txt
madridColab/util/service-utils/target/surefire-reports/org.xcolab.service.utils.db.jooq.generator.XColabGeneratorStrategyTest.txt
madridColab/util/service-utils/target/surefire-reports/TEST-org.xcolab.service.utils.db.jooq.fulltext.FulltextConditionTest.xml
madridColab/util/service-utils/target/surefire-reports/TEST-org.xcolab.service.utils.db.jooq.generator.XColabGeneratorStrategyTest.xml
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/AbstractAttribute.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/AbstractAttributeGetter.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/Attribute.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/AttributeGetter.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/AttributeGetterBuilder.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/AttributeProvider.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/Attributes.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/basic/BooleanAttribute.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/basic/DoubleAttribute.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/basic/EnumAttribute.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/basic/IdListAttribute.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/basic/JsonAttribute.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/basic/ListAttribute.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/basic/LocalizedStringAttribute.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/basic/LongAttribute.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/basic/StringAttribute.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/exceptions/AttributeFormatException.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/exceptions/AttributeNotFoundException.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/i18n/AbstractLocalizableAttributeGetter.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/i18n/LocalizableAttributeGetter.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/i18n/LocalizableAttributeProvider.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/transformers/AttributeTransformers.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/wrappers/CachedAttribute$LocalizableCachedAttribute.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/wrappers/CachedAttribute.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/wrappers/OptionalAttribute$LocalizableWrapper.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/wrappers/OptionalAttribute.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/wrappers/TransformedAttribute$LocalizableWrapper.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/attributes/wrappers/TransformedAttribute.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/collections/TtlHashMap.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/CountryUtil.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/CsvResponseWriter.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/exceptions/InternalException.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/exceptions/ReferenceResolutionException$Builder.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/exceptions/ReferenceResolutionException.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/GroupingHelper$DuplicateElementException.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/GroupingHelper.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/HomeDirPropertyResolver.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/html/HtmlUtil.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/html/LabelStringValue.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/html/LabelValue.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/http/interceptors/HeaderRequestInterceptor.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/http/interceptors/UriAwareResponseInterceptor$ResponseWrapper.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/http/interceptors/UriAwareResponseInterceptor.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/http/servlet/RequestUtil.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/IdListUtil.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/jooq/JooqGeneratorStrategy.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/recaptcha/RecaptchaErrorCode.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/recaptcha/RecaptchaResponse.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/recaptcha/RecaptchaValidator$RecaptchaException.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/recaptcha/RecaptchaValidator.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/servlet/flash/AlertMessage$Type.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/servlet/flash/AlertMessage.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/servlet/flash/ErrorPage.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/servlet/flash/impl/FlashMessageStore.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/servlet/flash/InfoPage.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/servlet/ManifestUtil.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/servlet/RequestParamUtil.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/servlet/ServletFileUtil.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/SortColumn.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/spring/web/annotation/ListMapping.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/time/DateUtil.class
madridColab/util/xcolab-commons/target/classes/org/xcolab/commons/time/DurationFormatter.class
madridColab/util/xcolab-commons/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
madridColab/util/xcolab-commons/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
madridColab/util/xcolab-commons/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
madridColab/util/xcolab-commons/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
madridColab/util/xcolab-commons/target/surefire-reports/org.xcolab.commons.GroupingHelperTest.txt
madridColab/util/xcolab-commons/target/surefire-reports/org.xcolab.commons.html.HtmlUtilTest.txt
madridColab/util/xcolab-commons/target/surefire-reports/org.xcolab.commons.recaptcha.RecaptchaResponseTest.txt
madridColab/util/xcolab-commons/target/surefire-reports/org.xcolab.commons.time.DurationFormatterTest.txt
madridColab/util/xcolab-commons/target/surefire-reports/TEST-org.xcolab.commons.GroupingHelperTest.xml
madridColab/util/xcolab-commons/target/surefire-reports/TEST-org.xcolab.commons.html.HtmlUtilTest.xml
madridColab/util/xcolab-commons/target/surefire-reports/TEST-org.xcolab.commons.recaptcha.RecaptchaResponseTest.xml
madridColab/util/xcolab-commons/target/surefire-reports/TEST-org.xcolab.commons.time.DurationFormatterTest.xml
madridColab/util/xcolab-commons/target/test-classes/org/xcolab/commons/GroupingHelperTest.class
madridColab/util/xcolab-commons/target/test-classes/org/xcolab/commons/html/HtmlUtilTest.class
madridColab/util/xcolab-commons/target/test-classes/org/xcolab/commons/recaptcha/RecaptchaResponseTest.class
madridColab/util/xcolab-commons/target/test-classes/org/xcolab/commons/time/DurationFormatterTest.class
madridColab/util/xcolab-commons/target/xcolab-commons-1.0-SNAPSHOT.jar
madridColab/util/xcolab-utils/target/classes/META-INF/spring-configuration-metadata.json
madridColab/util/xcolab-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
madridColab/util/xcolab-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
madridColab/util/xcolab-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
madridColab/util/xcolab-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
madridColab/util/xcolab-utils/target/surefire-reports/org.xcolab.util.http.exceptions.translation.facebook.FacebookExceptionTranslatorTest.txt
madridColab/util/xcolab-utils/target/surefire-reports/org.xcolab.util.http.exceptions.translation.service.ServiceExceptionTranslatorTest.txt
madridColab/util/xcolab-utils/target/surefire-reports/TEST-org.xcolab.util.http.exceptions.translation.facebook.FacebookExceptionTranslatorTest.xml
madridColab/util/xcolab-utils/target/surefire-reports/TEST-org.xcolab.util.http.exceptions.translation.service.ServiceExceptionTranslatorTest.xml
madridColab/util/xcolab-utils/target/test-classes/org/xcolab/util/http/exceptions/translation/facebook/FacebookExceptionTranslatorTest$ContentTypeJsonHeaders.class
madridColab/util/xcolab-utils/target/test-classes/org/xcolab/util/http/exceptions/translation/facebook/FacebookExceptionTranslatorTest.class
madridColab/util/xcolab-utils/target/test-classes/org/xcolab/util/http/exceptions/translation/service/ServiceExceptionTranslatorTest$ServiceResponseHeaders.class
madridColab/util/xcolab-utils/target/test-classes/org/xcolab/util/http/exceptions/translation/service/ServiceExceptionTranslatorTest.class
madridColab/util/xcolab-utils/target/xcolab-utils-1.0-SNAPSHOT.jar
"application.properties" 
